.bus-container{
    width:300px !important;
    border:2px solid grey;
    padding:10px;
}
.seat{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 2px;
}
.selected-seat{
   background-color:green;
   color:white;
}
.booked-seat{
    background-color:grey;
    color:white;
    pointer-events: none !important;
    cursor: disabled !important;
}